* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    /* background-color: black;
    color: white; */
}

h1 {
    text-align: center;
}

.nav-container {
    display: flex;
}

.game-container {
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns */
    grid-template-rows: repeat(4, auto);
    /* 4 rows */
    gap: 5px;
}

.card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(5px);
}

.score-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.2s;
}

.front-image {
    width: 60px;
    height: 60px;
}

.card .flipped {
    transform: rotateY(180deg) ;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;

}

.card .front {
    display: flex;
    justify-content: center;
    transform: rotateY(180deg);
}

.card .back {
    background-image: url("");
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
}